/************* Header Styles ***************/
header {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
}
header .mobile-nav.hidden,
header .overlay.hidden {
  display: none;
  transition: var(--transition);
}
header button {
  background-color: #eee;
  padding: 0.5rem 0.6rem;
  border-radius: 10px;
  display: none;
}
header .header-container {
  padding: 0 1.5rem;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: var(--text-large);
  font-weight: 500;
}
header .logo a {
  color: var(--primary-color);
}
header .nav-links {
  display: flex;
  gap: 3rem;
}
header .nav-links .nav-link a {
  font-size: var(--text-small);
  color: var(--text-color);
  position: relative;
}
header .nav-links .nav-link a:hover {
  color: var(--hover-color);
}
header .nav-links .nav-link a::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -1.4rem;
  right: 0;
  transition: var(--transition);
}
header .nav-links .nav-link a:hover::after {
  background-color: var(--primary-color);
}

header .social-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
header .social-links img {
  width: 2.4rem;
  border-radius: 4px;
}
header .social-links li {
  transition: var(--transition);
  border-radius: 4px;
  overflow: hidden;
  padding: 0.5rem;
}
header .social-links li:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 800px) {
  header .overlay {
    display: block;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    backdrop-filter: blur(5px);
  }
  header .mobile-nav.hidden,
  header .overlay.hidden {
    display: none;
    transition: var(--transition);
  }
  header .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    z-index: 100;

    background-color: rgba(219, 225, 255, 0.75);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1rem 0.5rem;
    transition: var(--transition);
  }
  header .mobile-nav button {
    padding: 0.5rem 1rem;
    background-color: var(--background-color);
    margin-left: 2rem;
    align-self: end;
    width: fit-content;
  }
  header .mobile-nav button .fa-icon {
    color: var(--text-color);
  }
  header .mobile-nav .nav-links {
    flex-direction: column;
  }
  header .mobile-nav .nav-links a {
    font-size: var(--text-large);
  }
  header .mobile-nav .social-links {
    margin-top: 3rem;
    flex-direction: column;
    gap: 3rem;
  }
  header .mobile-nav .social-links img {
    width: 3.5rem;
  }
  header nav.desktop {
    display: none;
  }
  header button {
    display: block;
  }
}

/************* Qoutes Section Styles ***************/
section#qoutes.qoutes {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  border-top: 1px solid var(--border-color);
}
section#qoutes .qoutes-container {
  margin: 0 auto;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
  gap: 1rem;
}
section#qoutes .qoute {
  flex-basis: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  transition: var(--transition);
}
section#qoutes .qoute-image-box {
  width: 22rem;
  height: 22rem;
  border-radius: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  object-fit: cover;
}
section#qoutes .qoute-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: var(--text-huge);
  color: var(--text-white-color);
}
section#qoutes .qoute-box span {
  font-size: var(--text-medium);
}

.slider-container {
  position: relative;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  padding: 1rem;
  border-radius: 50%;
}
.slider-arrow .fa-icon-blue {
  font-size: 2.4rem;
}

.slider-arrow.right {
  right: 10px;
}

.slider-arrow.left {
  left: 10px;
}
@media (max-width: 800px) {
  section#qoutes .qoute {
    flex-direction: column;
    gap: 2rem;
  }
  section#qoutes .qoute-box {
    font-size: var(--text-large);
    align-items: center;
    color: var(--text-white-color);
  }
}
/************* Hero Section Styles ***************/

.cls-1 {
  fill: var(--primary-color);
}
section#hero-section {
  position: relative;
  height: calc(100vh - 115px);
  /* height: 100vh; */
}
.hero-decorator {
  position: absolute;
  animation: bounce 2s alternate ease-in-out infinite;
  transition: var(--transition);
}

.hero-decorator:hover {
  scale: 1.1;
  rotate: -12deg;
}

.hero-decorator:first-child {
  width: 10rem;
  top: -3rem;
  left: 25%;
}
.hero-decorator:nth-child(2) {
  width: 10rem;
  top: 2rem;
  left: 12.5%;

  animation-delay: 0.5s;
}
.hero-decorator:nth-child(3) {
  width: 7rem;
  top: 15rem;
  left: 5%;
  animation-delay: 1s;
}
.hero-decorator:nth-child(4) {
  width: 7rem;
  top: 27rem;
  left: 9%;
  animation-delay: 1.5s;
}
.hero-decorator:nth-child(5) {
  width: 5rem;
  top: 35rem;
  left: 21%;
  animation-delay: 2s;
}
.hero-decorator:last-of-type {
  width: 10rem;
  top: -5rem;
  right: 13%;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
section#hero-section svg.wave {
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  z-index: -1;
}

section .hero-container {
  height: 80%;
  margin-top: 6.5rem;
  column-gap: 10rem;
  align-items: center;
  justify-content: center;
}
.hero-image-box {
  width: 100%;
  position: relative;
}
.hero-image-box::after {
  content: "";
  width: 100%;
  height: 15rem;
  background-color: var(--img-back);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5),
    inset 0 -4px 10px rgba(0, 0, 0, 0.5);
}
section .hero-container .hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-self: center;
}

section .hero-container h1 {
  font-weight: 600;
  font-size: var(--heading-large);
  color: var(--primary-color);
  line-height: 1;
}
section .hero-container .hero-slogan {
  font-size: var(--heading-medium);
}

@media (max-width: 900px) {
  .hero-decorator {
    display: none;
  }
}
@media (max-width: 800px) {
  section#hero-section svg.wave {
    display: none;
  }
  .hero-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .hero-container .hero-image-box {
    max-width: 30rem;
    width: 100%;
  }
  .hero-container .hero-text-box {
    text-align: center;
    align-items: center;
  }
  section .hero-container h1 {
    font-size: var(--heading-medium);
  }
  section .hero-container .hero-slogan {
    font-size: var(--heading-small);
  }
}

/************* About Us Section Styles ***************/
section#about-us {
  background-color: var(--background-color);
}
section.about-us-section .section-content {
  align-items: center;
}
section.about-us-section .about-image-box {
  border: 1px solid var(--border-color);
  padding: 1rem;
  width: 30rem;
  border-radius: 25px;
  justify-self: left;
  box-shadow: 0 5px 10px var(--border-color);
}
section.about-us-section .about-image-box img {
  border-radius: 15px;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 0 5px 1px var(--border-color);
}

section.about-us-section .about-image-box p {
  font-size: var(--heading-small);
  text-align: center;
}
section.about-us-section .about-image-box p span {
  color: var(--primary-color);
}

section.about-us-section .about-text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.about-us-section .about-text-box p {
  font-size: var(--text-large);
}
section.about-us-section .about-text-box h3 {
  margin-top: 3rem;
}
@media (max-width: 800px) {
  section.about-us-section .section-content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  section.about-us-section .section-content .about-image-box {
    max-width: 30rem;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
  }
}

/************* Fetures Section Styles ***************/
section#features .feature-cards {
  display: grid;
  row-gap: 5rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

section#features .feature-card {
  width: 30rem;
  background-color: var(--background-color);
  padding: 2rem 1rem;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  transition: var(--transition);
}
section#features .feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
section#features .feature-card .fa-icon-blue {
  font-size: 3.2rem;
}

section#features .feature-card h3 {
  color: var(--primary-color);
  margin-top: 1.5rem;
}
section#features .feature-card p {
  text-align: center;
  font-size: var(--text-medium);
}

/************* Our Students Section Styles ***************/
section#our-students.our-students-section {
  padding-right: 3rem;
  padding-left: 3rem;
  position: relative;
}
section#our-students .background-img {
  position: absolute;
  width: 30rem;
  z-index: -1;
}

section#our-students .background-img:first-child {
  top: 10rem;
  left: 0;
}
section#our-students .background-img:nth-child(2) {
  bottom: 0;
  right: 0;
}
section#our-students .student-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}
section#our-students .student-cards .student-card {
  background-color: var(--background-color);
  min-width: calc(20%);
  width: 250px;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0 10px var(--border-color);
  transition: var(--transition);
}

section#our-students .student-cards .student-card:hover {
  transform: scale(1.05);
}

section#our-students .student-card-image-box {
  border-radius: 15px;
  overflow: hidden;
  height: 17rem;
  box-shadow: 0 0 10px var(--border-color);
  display: flex;
  align-items: center;
}
section#our-students .student-card-image-box img {
  object-fit: cover;
}
section#our-students .student-card-text-box p {
  font-size: var(--text-large);
}

/************* Table Section Styles ***************/

section#table .table-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
section#table .section-title {
  margin-bottom: 0;
}
section#table .info {
  align-items: start;
}

section#table .info form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
section#table .info .cost {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  justify-content: left;
  align-items: center;
  gap: 4rem;
}
section#table .info .cost p {
  color: var(--text-white-color);
  font-size: var(--text-huge);
  line-height: 1;
}
section#table .info .cost span {
  text-align: center;
  font-size: var(--text-large);
  width: 10rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

table {
  padding: 1rem;
  font-size: var(--text-large);
  width: 100%;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  padding: 1rem;
  text-align: center;
  border-right: 1px solid rgba(0, 143, 245, 0.3);
}
tr {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 143, 245, 0.3);
}

@media (max-width: 800px) {
  section#table table {
    display: none;
  }
}
@media (max-width: 600px) {
  section#table .info form {
    align-items: center;
  }
  section#table .info {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }
  section#table .info .cost {
    justify-content: space-evenly;
  }
}
/************* Contact Us Section Styles ***************/
section#contact-us .section-content {
  align-items: center;
}
section#contact-us form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
section#contact-us .cta-whatsapp {
  justify-self: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
section#contact-us .cta-whatsapp .btn:disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #616161;
}

section#contact-us .cta-whatsapp .whatsapp-logo {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(#48f969, #08d534);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#contact-us .cta-whatsapp img {
  width: 8rem;
}
@media (max-width: 600px) {
  section#contact-us .section-content {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }
  section#contact-us .cta-whatsapp {
    justify-self: center;
  }
}

/************* Footer Section Styles ***************/
footer p {
  color: var(--text-white-color);
  font-size: var(--text-medium);
}
footer .container {
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav ul {
  align-items: center;
  display: flex;
  gap: 2rem;
}
footer .fa-icon {
  font-size: 2rem;
}
@media (max-width: 600px) {
  footer p {
    text-align: center;
  }
  footer .container {
    flex-direction: column;
    gap: 1rem;
  }
  footer .fa-icon {
    font-size: 2.8rem;
  }
}
